<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%# left side of navbar %>
    <a class="navbar-brand" href="/">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%# right side of navbar %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/tasks/all">Tasks</a>
        </li>
        <% if(!isloggedIn) { %>
        <li class="nav-item">
          <a class="nav-link" href="/user/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/register">Register</a>
        </li>
        <% } else if(typeof user !== "undefined") { %>
          <% if(user.isAdmin) { %>
          <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">All Users</a>
          </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" href="/tasks/create">Create task</a>
          </li>
          <li class="nav-item">
            <% if(user.isAdmin) { %>
              <span class="userNameHeader">Admin:</span>
            <% } %>
              <span class="userNameHeader"><%= user.username %></span>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="/user/logout">Log out</a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
</header>