<!doctype html>
<html lang="en">
  <%# including head %>
  <%- include('./partials/head.ejs') %>
<body>
  <%# including header %>
  <%- include('./partials/header.ejs') %>
  <div class="pageContent">
    <h3> 404 Page </h3>
    <a type="button" href="/">Go Home</a>
  </div>
  <%# including footer %>
  <%- include('./partials/footer.ejs') %>
</body>
</html>