<!doctype html>
<html lang="en">
  <%# including head %>
  <%- include('./partials/head.ejs') %>
<body>
  <%# including header %>
  <%- include('./partials/header.ejs') %>
  <div class="pageContent">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1>List of all users</h1>
          <% if(typeof usersList !== "undefined") { %> 
            <% if(usersList.length > 0 ) { %>
              <% usersList.filter(oneuser => oneuser.email !== user.email).map(user => { %>
                <div class="card mb-5">
                  <div class="card-body">
                    <h5 class="card-title"><%= user.email %></h5>
                    <p class="card-text">User joined: <%= user.createdAt %></p>
                    <p class="card-text">User activated: <%= user.isEmailValidated %></p>
                    <p class="card-text">Role: <% if(user.isAdmin) { %>
                      <span>admin</span>
                      <% } else { %>
                        <span>normal</span>
                      <% } %>
                    </p>
                    <% if(user.isAdmin) { %>
                      <button class="btn btn-danger" disabled>Delete user</button>
                    <% } else { %>
                      <button class="btn btn-danger deleteUser" data-id="<%= user._id %>">Delete user</button>
                      <% if(!user.isEmailValidated) { %>
                        <form action="/admin/activate/<%= user._id %>" method="POST">
                          <button type="submit" class="btn btn-danger activateUser" data-id="<%= user._id %>">Activate user</button>
                        </form>
                      <% } %>
                    <% } %>
                  </div>
                </div>
              <% }) %>
            <% } %>
          <% } else { %>
            <div>There are no users</div>
          <% } %>
        </div>
        <div class="col-sm-6">
          <h1>List of deleted tickets</h1>
          <% if(typeof deletedTasks !== "undefined") { %> 
            <% if(deletedTasks.length > 0 ) { %>
              <% deletedTasks.map(task => { %>
                <div class="card mb-5">
                  <div class="card-body">
                    <h5 class="card-title"><%= task.title %></h5>
                    <p class="card-text">Task created: <%= task.email %></p>
                    <button class="btn btn-danger deleteTask" data-id="<%= task._id %>">Delete Task forever</button>
                  </div>
                </div>
              <% }) %>
            <% } else { %>
              <div>There are no soft deleted tasks</div>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <%# including footer %>
  <%- include('./partials/footer.ejs') %>
  <script>
    const deleteButton = document.querySelectorAll('.deleteUser');
    const deleteTaskButton = document.querySelectorAll('.deleteTask');
    const activateUserButton = document.querySelectorAll('.activateUser');
    [].forEach.call(deleteButton, (btn,key) => {
      btn.addEventListener('click', e => {
        const endpoint = `/user/${e.target.dataset.id}`;
        fetch(endpoint, {
          method: 'DELETE',
        }).then(data => {
          location.reload();
        }).catch(err => console.log(err));
      });
    });
    
    [].forEach.call(deleteTaskButton, (btn,key) => {
      btn.addEventListener('click', e => {
        const endpoint = `/tasks/${e.target.dataset.id}`;
        fetch(endpoint, {
          method: 'DELETE',
        }).then(data => {
          location.reload();
        }).catch(err => console.log(err));
      });
    });
  </script>
</body>
</html>