<!doctype html>
<html lang="en">
<%# including head %>
<%- include('./partials/head.ejs') %>

<body>
  <%# including header %>
  <%- include('./partials/header.ejs') %>
  <div class="pageContent">
    <div class="taskWrapper">
      <% if(tasks.length > 0) { %>
      <div class="singleTaskWrapper">
        <h2>Pending</h2>
        <% tasks.filter(task => task.status === 'Pending' && !task.isDeleted).map(task => { %>
        <div class="card m-5">
          <a href="<%= task._id %>" class="customCardTask">
            <div class="card-body">
              <h5 class="card-title"><%= task.title %></h5>
              <p class="card-text">task created: <%= task.email %></p>
              <% if(task.ticketAssigned !== '') { %>
              <p class="card-text">Assigned to: <%= task.ticketAssigned %></p>
              <% } %>
              <p class="card-text"><%= task.content %></p>
            </div>
          </a>
        </div>
        <% }) %>
      </div>
      <div class="singleTaskWrapper">
        <h2>In Progress</h2>
        <% tasks.filter(task => task.status === 'In Progress' && !task.isDeleted).map(task => { %>
        <div class="card m-5">
          <a href="<%= task._id %>" class="customCardTask">
            <div class="card-body">
              <h5 class="card-title"><%= task.title %></h5>
              <p class="card-text">task created: <%= task.email %></p>
              <% if(task.ticketAssigned !== '') { %>
              <p class="card-text">Assigned to: <%= task.ticketAssigned %></p>
              <% } %>
              <p class="card-text"><%= task.content %></p>
            </div>
          </a>
        </div>
        <% }) %>
      </div>
      <div class="singleTaskWrapper">
        <h2>Done</h2>
        <% tasks.filter(task => task.status === 'Done' && !task.isDeleted).map(task => { %>
        <div class="card m-5">
          <a href="<%= task._id %>" class="customCardTask">
            <div class="card-body">
              <h5 class="card-title"><%= task.title %></h5>
              <p class="card-text">task created: <%= task.email %></p>
              <% if(task.ticketAssigned !== '') { %>
              <p class="card-text">Assigned to: <%= task.ticketAssigned %></p>
              <% } %>
              <p class="card-text"><%= task.content %></p>
            </div>
          </a>
        </div>
        <% }) %>
      </div>
      <% } else { %>
        <h1 class="m-auto">There is no task to be done.</h1>
      <% } %>
    </div>
  </div>
  <%# including footer %>
  <%- include('./partials/footer.ejs') %>
</body>

</html>