<!doctype html>
<html lang="en">
<%# including head %>
<%- include('./partials/head.ejs') %>

<body>
  <%# including header %>
  <%- include('./partials/header.ejs') %>
  <div class="card-body authBody">
    <form action="/tasks/create" method="POST">
      <div class="form-group w-75 ml-auto mr-auto">
        <label for="titleTask">Title</label>
        <input type="text" name="title" class="form-control" id="titleTask">
      </div>
      <% if(users !== "undefined" && users.length > 0) { %>
      <div class="form-group w-75 ml-auto mr-auto">
        <label for="ticketAssignedCreateTask">Assign ticket</label>
        <select id="ticketAssignedCreateTask" class="form-control" name="ticketAssigned">
          <option value="">Choose</option>
          <% users.map(user => { %>
          <option><%= user.email %></option>
          <% }) %>
        </select>
      </div>
      <% } %>
      <div class="form-group w-75 ml-auto mr-auto">
        <label for="statusCreateTask">Ticket Status</label>
        <select id="statusCreateTask" class="form-control" name="status">
          <option>Pending</option>
          <option>In Progress</option>
          <option>Done</option>
        </select>
      </div>
      <div class="form-group w-75 ml-auto mr-auto">
        <label for="contentCreateTask">Description of task</label>
        <textarea class="form-control createTaskTextArea" id="contentCreateTask" rows="3" name="content"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
<%# including footer %>
<%- include('./partials/footer.ejs') %>
</body>

</html>