<!doctype html>
<html lang="en">
  <%# including head %>
  <%- include('./partials/head.ejs') %>
<body>
  <%# including header %>
  <%- include('./partials/header.ejs') %>
  <div class="pageContent">
    <h1>
      Welcome to the something like Jira
    </h1>
    <p class="homePageDescription">
      This is the website where you and your team can manage tasks and track their progress.
    </p>
    <img src='/images/quantoxLogo.jpg'>
  </div>
  <%# including footer %>
  <%- include('./partials/footer.ejs') %>
</body>
</html>