<!doctype html>
<html lang="en">
<%# including head %>
<%- include('./partials/head.ejs') %>

<body>
  <%# including header %>
  <%- include('./partials/header.ejs') %>
  <div class="pageContent">
    <div class="card w-75 m-auto">
      <div class="card-header">Log in</div>
        <div class="card-body authBody">
          <%# error messages %>
          <%- include('./partials/messages') %>
          <form action="/user/login" method="POST">
            <div class="form-group w-75 ml-auto mr-auto">
              <input type="email" name="email" class="form-control" id="loginEmail" placeholder="Email">
            </div>
            <div class="form-group w-75 ml-auto mr-auto">
              <input type="password" name="password" class="form-control" id="loginPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
      <div class="card-footer  w-75 m-auto">Don't have account? <a href="/user/register">Register here</a>
    </div>
  </div>
  <%# including footer %>
  <%- include('./partials/footer.ejs') %>
</body>
</html>