<!doctype html>
<html lang="en">
<%# including head %>
<%- include('./partials/head.ejs') %>

<body>
  <%# including header %>
  <%- include('./partials/header.ejs') %>
  <div class="pageContent">
    <div class="card w-75 m-auto">
      <div class="card-header">Register</div>
      <div class="card-body authBody">
        <%- include('./partials/messages.ejs') %>
        <form action="/user/register" method="POST">
          <div class="form-group w-75 ml-auto mr-auto">
            <input type="text" name="username" class="form-control" id="registerUsername" placeholder="Username" value="<%= typeof username !== "undefined" ? username : '' %>">
          </div>
          <div class="form-group w-75 ml-auto mr-auto">
            <input type="email" name="email" class="form-control" id="registerEmail" placeholder="Enter email" value="<%= typeof email !== "undefined" ? email : '' %>">
          </div>
          <div class="form-group  w-75 ml-auto mr-auto">
            <input type="password" name="password" class="form-control" id="registerPassword" placeholder="Password" value="<%= typeof password !== "undefined" ? password : '' %>">
          </div>
          <div class="form-group  w-75 ml-auto mr-auto">
            <input type="password" name="confirmPassword" class="form-control" id="registerPasswordConfirm" placeholder="Confirm Password" value="<%= typeof confirmPassword !== "undefined" ? confirmPassword : '' %>">
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </div>
    <div class="card-footer w-75 m-auto">
      Already have account? <a href="/user/login">Log in here</a>
    </div>
  </div>
  <%# including footer %>
  <%- include('./partials/footer.ejs') %>
</body>
</html>