<!doctype html>
<html lang="en">
<%# including head %>
<%- include('./partials/head.ejs') %>

<body>
  <%# including header %>
  <%- include('./partials/header.ejs') %>
  <% if(user.email !== task.email) { %>
  <div class="card mb-5">
    <form action="/tasks/update/<%= task._id %>" method="POST">
      <div class="card-body">
        <h5 class="card-title"><%= task.title %></h5>
        <div class="form-group">
          <label for="ticketStatus">Ticket Status</label>
          <select id="ticketStatus" class="form-control" name="status">
            <% ['Pending','In Progress', 'Done'].map(ticketStatus => { %>
            <% if(ticketStatus === task.status) { %>
            <option selected><%= task.status%></option>
            <% } else { %>
            <option><%= ticketStatus%></option>
            <% }}) %>
          </select>
          <p class="card-text">task created by: <%= task.email %></p>
          <label for="ticketContent">Ticket content</label>
          <p id="ticketContent" class="card-text"><%= task.content %></p>
          <button class="btn btn-primary btn-lg active" role="button" aria-pressed="true" type="submit">Save changes</button>
        </div>
      </div>
    </form>
    <form action="/tasks/softdelete/<%= task._id %>" method="POST">
      <button class="btn btn-danger btn-lg active" role="button" aria-pressed="true" type="submit">Delete</button>
    </form>
  </div>
  <% } else { %>
    <div class="card-body editTask">
      <form action="/tasks/update/<%= task._id %>" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Task title:</label>
          <input name="title" type="text" class="form-control" value="<%= task.title %>">
        </div>
        <div class="form-group">
          <label for="ticketStatus">Ticket Status</label>
          <select id="ticketStatus" class="form-control" name="status">
            <% ['Pending','In Progress', 'Done'].map(ticketStatus => { %>
            <% if(ticketStatus === task.status) { %>
              <option selected><%= task.status%></option>
            <% } else { %>
              <option><%= ticketStatus%></option>
            <% } %>
            <% }) %>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Created by:</label>
          <input name="email" type="text" class="form-control" disabled class="card-text" value="<%= task.email %>">
        </div>
        <% if(typeof users !== "undefined" && users.length > 0) { %>
          <div class="form-group">
            <label for="exampleInputPassword1">Assigned to:</label>
            <select id="ticketAssignedCreateTask" class="form-control" name="ticketAssigned">
              <option value="">Choose</option>
              <% if(task.ticketAssigned !== '') { %>
               <option selected><%= task.ticketAssigned %></option>
              <% users.filter(user => user.email !== task.ticketAssigned).map(user => { %>
                <option><%= user.email %></option>
              <% }) %>
              <% } else { %>
              <% users.map(user => { %>
                <option><%= user.email %></option>
              <% })} %>
            </select>
          </div>
        <% } %>
        <div class="form-group">
          <label for="exampleInputPassword1">Description of task:</label>
          <textarea name="content" type="text" class="form-control"><%= task.content %></textarea>
        </div>
        <button class="btn btn-primary btn-lg active" role="button" aria-pressed="true" type="submit">Save changes</button>
      </form>
      <form action="/tasks/softdelete/<%= task._id %>" method="POST">
        <button class="btn btn-danger btn-lg active" role="button" aria-pressed="true" type="submit">Delete</button>
      </form>
    </div>
  <% } %>
  </div>
  <%# including footer %>
  <%- include('./partials/footer.ejs') %>
</body>

</html>