<!doctype html>
<html lang="en">
  <%# including head %>
  <%- include('./partials/head.ejs') %>
<body>
  <%# including header %>
  <%- include('./partials/header.ejs') %>
  <div class="pageContent">
    <h3>You verified email successfully proceed to login</h3>
  </div>
  <%# including footer %>
  <%- include('./partials/footer.ejs') %>
</body>
</html>