<!doctype html>
<html lang="en">
  <%# including head %>
  <%- include('./partials/head.ejs') %>
<body>
    <%# including header %>
    <%- include('./partials/header.ejs') %>
    <div class="pageContent">
      <h3> Verification email sent, please check your email</h3>
    </div>
    <%# including footer %>
    <%- include('./partials/footer.ejs') %>
</body>
</html>