body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
}

.pageContent {
 min-height: calc(100vh - 96px);
 text-align: center;
 padding-top: 60px;
}

.pageFooter {
  margin-top: auto;
  background-color: #f8f9fa;
  padding-top: 8px;
  width: 100%;
  height: 40px;
  text-align: center;
}

.registerAndLoginModalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homePageDescription {
  margin-bottom: 60px;
}

.authBody {
  text-align: center;
}

.createTaskTextArea {
  min-height: 500px;
  resize: none;
}

.taskWrapper {
  display: flex;
}

.singleTaskWrapper {
  flex: 1;
}

.customCardTask {
  color: black;
  transition: transform .2s;
}

.customCardTask:hover {
  color: black;
  text-decoration: none;
  transform: scale(1.2);
}

.editTask {
  display: flex;
  flex-direction: column;
}

.userNameHeader {
  display: inline-block;
  margin-top: 8px;
  margin-left: 5px;
}